*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}
/* header styles */
header{
    background-color: rgb(16, 21, 34);
    width:100%;
    height: 80px;
    padding: 20px 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.hamburger{
    display: none;
}
header .logo a , footer .logo a{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
header nav{
    width: 50%;
}
header nav ul{
    display: flex;
    /* justify-content: center; */
    padding-left: 50px;
    gap: 30px;
    align-items: center;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem;
    text-align: center;
}
header nav ul li a:hover{
    border-bottom: 3px solid white;
}
header nav .btn{
    background: rgb(75, 89, 247);
    color:white;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: auto;
}
/* main  */
main{
    width: 100%;
}
/* hero styles */
.hero{
    width: 100%;
    background-color: rgb(16, 21, 34);
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 3rem;
}
.hero .hero-content{
    width: 50%;
    margin-bottom: 10px;
}
.hero .hero-content h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;

}
.hero .hero-content span{
    color: rgb(169, 179, 193);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: 1.4px;
    line-height: 16px;
}
.hero .hero-content p{
    color: rgb(169, 179, 193);
    font-size: 18px;
    margin-bottom: 30px;
    width: 70%;
}
.hero .btn{
    background: rgb(75, 89, 247);
    color:white;
    padding: 12px 65px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
.hero .hero-img img{
    width:500px;
}
/* testimonial */
.testimonial{
    width: 100%;
    background-color: #fff;
}
.testimonial .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 3rem;
}
.testimonial .testimonial-img{
     width: 50%;
}
.testimonial img{
    width: 500px; 
}
.testimonial .testimonial-content{
    width: 50%;
}
.testimonial .testimonial-content h1{
    color: black;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;
}
.testimonial .testimonial-content span{
    color:rgb(75, 89, 247);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: 1.4px;
    line-height: 16px;
}
.testimonial .testimonial-content p{
    color: black;
    font-size: 18px;
    margin-bottom: 30px;
    width: 70%;
}
.testimonial .testimonial-content .btn{
    background: rgb(75, 89, 247);
    color:white;
    padding: 12px 65px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
/* setup styles */
.setup{
    width: 100%;
    background-color: rgb(16, 21, 34);
}
.setup .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 3rem;
}
.setup img{
    width: 550px;
}
.setup h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;
    width: 500px;
}
.setup span{
    color: rgb(169, 179, 193);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: 1.4px;
    line-height: 16px;
}
.setup p{
     color: rgb(169, 179, 193);
    font-size: 18px;
    margin-bottom: 30px;
    width: 70%;
}
.setup .btn{
    background: rgb(75, 89, 247);
    color:white;
    padding: 12px 65px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
}
/* service */
.service{
    width: 100%;
    background-color: rgb(75, 89, 247);
    padding: 150px 3rem;
    text-align: center;
}
.service h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
}
.service .flex{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 75%;
    margin: auto;
}
.service .flex .services{
    text-align: center;
    background-color: rgb(36, 36, 36);
    padding: 4rem 0;
    text-decoration: none;
    width: 33%;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}
.service .flex a:hover{
    transform: scale(1.06);
    transition: 0.3s ease-out;
    color: rgb(28, 34, 55);
}
.service .flex .services h2{
    color: white;
    margin-top: 20px;
}
.service .flex .services h3{
    color: white;
    font-size: 2.5rem;
}
.service .flex .services p{
    color: white;
    font-size: 16px;
    margin-bottom: 2rem;
}
.service .flex .services span{
    display: block;
    color: rgb(169, 179, 193);
    margin-bottom: 10px;
    text-transform: capitalize;
}
.service .flex .services button{
    background: rgb(75, 89, 247);
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
}
/* signup styles */
.sign-up{
    width: 100%;
    background-color: rgb(16, 21, 34);
}
.sign-up .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 150px 2rem;
}
.sign-up img{
    width: 550px;
}

.sign-up span{
    color: rgb(169, 179, 193);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    letter-spacing: 1.4px;
    line-height: 16px;
}
.sign-up h1{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 20px;
    width: 500px;
}
.sign-up p{
     color: rgb(169, 179, 193);
    font-size: 18px;
    margin-bottom: 30px;
    width: 70%;
}
.sign-up .btn{
    background: rgb(75, 89, 247);
    color:white;
    padding: 12px 65px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

/* footer styles */
footer{
    width: 100%;
    background-color: rgb(16, 21, 34);
    text-align: center;
    padding-top: 50px;
}
footer .footer-content h3{
    color: white;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}
footer .footer-content p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
footer .footer-content input, footer input:active{
    width: 230px;
    height: 40px;
    padding: 20px;
    font-size: 16px;
    color: black;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
}
footer .footer-content .btn{
    background: rgb(75, 89, 247);
    color:white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}
footer .footer-flex{
    width: 55%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
footer .footer-flex .flex-item{
    /* width: 20%; */
    color: white;
    text-align: left;
    margin-bottom: 30px;
}
.flex-a{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.flex-b{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
footer .footer-flex .flex-item h1{
    font-size: 24px;
    margin-bottom: 20px;
}
footer .footer-flex .flex-item p{
     margin-bottom: 10px;
     cursor: pointer;
}
footer .footer-flex .flex-item p:hover{
    color: rgb(75, 89, 247);
}
footer .footer-info{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    padding-bottom:40px ;
}
footer .footer-info .copy{
    color: white;
    font-size: 12px;
}
footer .footer-info .social-media a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-left: 30px;
}
footer .footer-info .social-media a:hover {
    color: rgb(75, 89, 247);
}

/* additional styles */
a,button{
    cursor: pointer;
}

@media(max-width:768px){
    header{
        flex-direction: column;
        align-items: self-start;
        padding:50px 0;
    }
    .logo{
       margin-left: 20px;
    }
    nav{
        min-width: 100%;
    }
    nav ul{
        width: 100%;
        height: 90vh;
        flex-direction: column;
        padding: 50px;
        text-align: center;
        background-color: rgb(16, 21, 34);
        transform: translateX(0%);
        transition: 0.5s;
    }
    nav ul[data-visible="false"]{
        transform: translateX(-1000%);
    }
    nav ul li{
        margin-bottom: 40px;
        width: 80%;
    }
    nav ul li .btn{
        padding: 10px 100px;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 5%;
    }
    .hamburger i{
        font-size: 2rem;
        color: white;
    }
    .hamburger i[data-visible="true"]{
        display: block;
    }
    .hamburger i[data-visible="false"]{
        display: none;
    }
    .container{
        max-width: 100%;
    }
    main .container , .service .flex{
        flex-direction: column;
        /* padding: 50px 30px; */
    }
    .testimonial .container{
        flex-direction: column-reverse;
    }
    .hero .hero-content ,.hero img{
        min-width: 100%;
        max-width: 100%;
    }
    .testimonial .testimonial-content ,.testimonial-img , .testimonial img{
        max-width: 100%;
        min-width: 100%;
        margin: 5px;
    }
    .setup .setup-content, .setup img , .setup h1{
        min-width: 100%;
        max-width: 100%;
    }
    .service .flex{
        min-width: 100%;
        max-width: 100%;
    }
    .service .services, .services div{
        min-width: 100%;
    }
    .sign-up .signup-content, .sign-up img{
        min-width: 100%;
        max-width: 100%;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .footer-flex{
        min-width: 100%;
        flex-direction: column;
    }
    footer .flex-a , .flex-b{
        min-width: 80%;
        margin: 0 auto;
    }
    .footer-info{
        flex-direction: column;
        gap: 20px;
    }
}